<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Portal de Aprovação Elfa</title>
        <link rel="stylesheet" type="text/css" href="http://w2ui.com/src/w2ui-1.4.min.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://w2ui.com/src/w2ui-1.4.min.js"></script>
    </head>
    <body>
        <h1>Log out</h1>
        <p>Deseja realmente sair do sistema!</p>
        <p><a href="@Href("/login")">Sim</a></p>
    </body>
</html>