<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="Server=moriahconsultoria.ddns.net;Uid=sa;Pwd=adm2015;Database=WEBSERVICEELFA" name="WEBSERVICEELFA" providerName="System.Data.SqlClient" />
        <add connectionString="server=192.168.222.253\BDTESTE;database=APROVPED;uid=aprovped;Pwd=@pr0vp3d16" name="APROVPED" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SqlServerCe.4.0" />
            <add invariant="System.Data.SqlServerCe.4.0" name="Microsoft® SQL Server® Compact 4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        </DbProviderFactories>
    </system.data>
</configuration>
